<section class="appartments none1">
  <div class="container">
    <div class="appartments__title">
      <h2 class="title-2">Наши квартиры</h2>
    </div>
    <div class="appartments__cards">
      <a class="card" href="#">
        <img class="card__img" src="assets/images/appartments-1.jpg" alt="" />
        <h3 class="card__title">Пентхаус “Loft Олимп”</h3>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="assets/images/appartments-2.jpg" alt="" />
        <h3 class="card__title">Апартаменты “Nice Loft”</h3>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="assets/images/appartments-3.jpg" alt="" />
        <h3 class="card__title">Апартаменты “Loft Studio”</h3>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="assets/images/appartments-4.jpg" alt="" />
        <h3 class="card__title">Loft квартира “Престиж”</h3>
      </a>
    </div>
  </div>
</section>
