<section class="benefits none1">
  <h2 class="visually-hidden">Преимущества ЖК</h2>
  <div class="container container--sm">
    <div class="benefits__row">
      <div class="benefits__item">
        <img
          class="benefits__item-img"
          src="assets/images/benefits-1.svg"
          alt=""
        />
        <p class="benefits__item-text">Рядом исторические парки&nbsp;и&nbsp;скверы</p>
      </div>
      <div class="benefits__item">
        <img
          class="benefits__item-img"
          src="assets/images/benefits-2.svg"
          alt=""
        />
        <p class="benefits__item-text">Полностью обустроенный</p>
      </div>
      <div class="benefits__item">
        <img
          class="benefits__item-img"
          src="assets/images/benefits-3.svg"
          alt=""
        />
        <p class="benefits__item-text">Полностью обустроенный</p>
      </div>
      <div class="benefits__item">
        <img
          class="benefits__item-img"
          src="assets/images/benefits-4.svg"
          alt=""
        />
        <p class="benefits__item-text">6 км велодорожек</p>
      </div>
    </div>
  </div>
</section>
