<section class="feedback none1">
  <div class="container">
    <div class="feedback__title">
      <h2 class="title-2">Есть вопросы?</h2>
    </div>
    <form action="" class="feedback__form form">
      <p class="form__privacy form__privacy--bottom">
        *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
      </p>
      <input
        class="form__input"
        type="text"
        placeholder="Ваше имя"
        autocomplete="off"
      />
      <input
        class="form__input"
        type="text"
        placeholder="Ваш телефон"
        autocomplete="off"
        data-tel-input
      />
      <button class="form__btn" type="submit">Посмотреть район</button>
    </form>
  </div>
</section>

