<header class="header none1">
  <div class="header__top">
    <div class="container">
      <div class="header__top-row">
        <a href="#">
          <img src="assets/images/logo.svg" alt="" />
        </a>
        <div class="header__nav">
          <nav class="nav">
            <ul class="nav__list">
              <li><a href="#">О комплексе</a></li>
              <li><a href="#">Район</a></li>
              <li><a href="#">Каталог квартир</a></li>
              <li><a href="#">Ипотека</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </nav>
        </div>
        <div class="header__nav-btn">
          <button class="nav-icon-btn">
            <div class="nav-icon"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="header__title">
      Жилой комплекс <br />
      в историческом центре
      <a href="#benefits">
        <img class="header__title-icon" src="assets/images/mouse.svg" alt="" />
      </a>
    </h1>
  </div>
  <div class="header__bottom">
    <div class="text-right">
      <a class="info info--map" href="#section-map">Наб. реки Фонтанки 10-15</a>
    </div>
    <div class="text-left">
      <a class="info info--phone" href="tel:+78121234567">8 (812) 123-45-67</a>
    </div>
  </div>
</header>
<!-- 3 51 -->
